<!-- Jquery Core Js -->
<script th:src="@{/resources/js/jquery/jquery.min.js}"></script>

<!-- Booth:tstrap Core Js -->
<script th:src="@{/resources/bootstrap/js/bootstrap.js}"></script>

<!-- Selth:ect Plugin Js -->
<script th:src="@{/resources/plugins/bootstrap-select/js/bootstrap-select.js}"></script>

<!-- Slith:mscroll Plugin Js -->
<script th:src="@{/resources/plugins/jquery-slimscroll/jquery.slimscroll.js}"></script>

<!-- Wavth:es Effect Plugin Js -->
<script th:src="@{/resources/plugins/node-waves/waves.js}"></script>

<!-- Jquth:ery CountTo Plugin Js -->
<script th:src="@{/resources/plugins/jquery-countto/jquery.countTo.js}"></script>

<!-- Morris Plugin Js -->
<script th:src="@{/resources/plugins/raphael/raphael.min.js}"></script>
<script th:src="@{/resources/plugins/morrisjs/morris.js}"></script>

<!-- ChartJs -->
<script th:src="@{/resources/plugins/chartjs/Chart.bundle.js}"></script>

<!-- Flot Charts Plugin Js -->
<script th:src="@{/resources/plugins/flot-charts/jquery.flot.js}"></script>
<script th:src="@{/resources/plugins/flot-charts/jquery.flot.resize.js}"></script>
<script th:src="@{/resources/plugins/flot-charts/jquery.flot.pie.js}"></script>
<script th:src="@{/resources/plugins/flot-charts/jquery.flot.categories.js}"></script>
<script th:src="@{/resources/plugins/flot-charts/jquery.flot.time.js}"></script>

<!-- Sparkline Chart Plugin Js -->
<script th:src="@{/resources/plugins/jquery-sparkline/jquery.sparkline.js}"></script>

<script th:src="@{/resources/js/demo.js}"></script>
<script th:src="@{/resources/js/admin.js}"></script>