<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="templates/DocManager/head"></th:block>
    </head>
    <body class="theme-red">
        <th:block th:replace="templates/DocManager/top"></th:block>
        <section class="content">
            <div class="container-fluid">
                <div class="block-header">
                    <h2 th:text='#{application}'>DASHBOARD</h2>
                </div>

                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="header">
                                <h2 th:text="${newApp? #messages.msg('add_application') : #messages.msg('edit_application')}">New Applications</h2>
                                <ul class="header-dropdown m-r--5">
                                    <li class="dropdown">
                                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                            <i class="material-icons">more_vert</i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                                            <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
                                            <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="body">
                                <form class="form-horizontal" th:object='${app}' action="/apps/new" th:action='@{/apps/new}' method="post">
                                    <input th:type="hidden" name="id" th:field="*{id}" />
                                    <div class="row clearfix">
                                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                            <label for="appName" th:text='#{name}'>Name</label>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="appName" name='appName' class="form-control" placeholder="" th:field='*{name}'>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                    
                                    <div class="row clearfix">
                                        <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
                                            <button type="submit" class="btn btn-primary m-t-15 waves-effect" 
                                                    th:text="${newApp? #messages.msg('save') : #messages.msg('update')}">Save</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <th:block th:replace="templates/DocManager/footer"></th:block>
    </body>
</html>